<template>
    <div>
      <kec-scroll>
    <el-form :model="form" :label-position="labelPosition"  label-width="100px">
         <div class="tops">
            <div class="top-packpage-input">
              <div class="top-packpage-input-left">

              <el-row :gutter="0" style="height:50px">
  <el-col :span="8"> <el-form-item size='small' label="Package No">
                            <el-input v-model="form.name" style="width:70%"></el-input>
                        </el-form-item></el-col>
  <el-col :span="8"> <el-form-item size='small' label="Manifest No">
                            <el-input v-model="form.name" style="width:70%"></el-input>
                        </el-form-item></el-col>
  <el-col :span="8">   <el-form-item size='small' label="Service Party">
                            <el-select v-model="form.customer"   style="width:60%">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item></el-col>
</el-row>
                  
        

           
                         <el-row :gutter="0" style="height:50px">
  <el-col :span="8"> <el-form-item size='small' label="Ref delivery NO">
                            <el-input v-model="form.name" style="width:70%"></el-input>
                        </el-form-item></el-col>
  <el-col :span="8"> <el-form-item size='small' label="Shipments Status">
                           <el-select v-model="form.customer"   style="width:60%">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item></el-col>
  <el-col :span="8">   <el-form-item size='small' label="Order Status">
                            <el-select v-model="form.customer"   style="width:60%">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item></el-col>
</el-row>
     


            <el-row :gutter="0" style="height:50px">
                <el-col :span="10"> <el-form-item size='small' label="Scan-in Date">
                        <el-date-picker v-model="form.date_range" type="daterange" :picker-options="pickerOptions" size="small" range-separator="-" start-placeholder="Start date" end-placeholder="End date" style="width:400px;"></el-date-picker>
                    </el-form-item></el-col>
                <el-col :span="10">  <el-form-item size='small' label="Completion Date">
                        <el-date-picker v-model="form.date_range" type="daterange" :picker-options="pickerOptions" size="small" range-separator="-" start-placeholder="Start date" end-placeholder="End date" style="width:400px;"></el-date-picker>
                    </el-form-item></el-col>
  
</el-row>          
              </div>




               <div class="top-packpage-input-right">
                    <el-button type="primary" style="width:100px;height:50px">Search</el-button>
               </div>
            </div>
        <!---end -->

        

      </div>
    </el-form>
      </kec-scroll>

          <kec-scroll class="w-100 m-0 p-0" :numbers="260" >
         <template>
           <el-table 
           style="width:calc( 100vw - 310px)"
                    :header-cell-style="{color:'#fff', background:'rgb(237, 109, 1)', padding:'0px',
                     borderRight:'1px solid #FFF',
                     textAlign:'center', fontSize:'10pt',fontWeight:'600'}"
                    :cell-style="{fontSize:'9pt', padding:'2px 0',borderRight:'1px solid #EBEEF5'}"
                    ref="multipleTable"
                    tooltip-effect="dark"
                    :data="tableData"
                    class="w-100">
            
           
            

              <el-table-column prop="order_date" fixed="left" width="200" label="Package No">
               <template slot-scope="scope">
                 <div style="text-align:center" @click="PackageDetails(scope.row)">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>
             
             <el-table-column prop="reference_number" width="240"  label="Original tracking No">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

              <el-table-column prop="reference_number" width="240"  label="Manifest No">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240"  label="Ref Delivery No">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240"  label="Service Party">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240"  label="Shipment Status">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240"  label="Time Updated">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240"  label="Job ID">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240"   label="Sorting Code">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

              <el-table-column prop="reference_number" width="240"   label="Label">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

              <el-table-column prop="reference_number" width="240" fixed="right"  label="Damaged">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
           
            
           </el-table>

           <el-dialog title="packpage Details" :visible.sync="dialogTableVisible" width="60%">
                <el-tabs v-model="activeName" @tab-click="handleClick">
     
                    <!-- Items Details -->
                    <el-tab-pane label="Shipment Status log" name="ShipmentStatusLog">
                        <el-table 
                    :header-cell-style="{color:'#fff', background:'rgb(237, 109, 1)', padding:'0px',
                     borderRight:'1px solid #FFF',
                     textAlign:'center', fontSize:'10pt',fontWeight:'600'}"
                    :cell-style="{fontSize:'9pt', padding:'2px 0',borderRight:'1px solid #EBEEF5'}"
                    ref="multipleTable"
                    tooltip-effect="dark"
                    :data="tableData"
                    class="w-100">
            
           
            

              <el-table-column prop="order_date" fixed="left" width="200" label="Time">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>

             <el-table-column prop="order_date"  width="200" label="status Type">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>

             <el-table-column prop="order_date"  width="200" label="Status">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>

              <el-table-column prop="order_date" width="200" label="Amazon event">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>

               <el-table-column prop="order_date"  width="200" label="Amazon Status">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>


              <el-table-column prop="order_date"  width="200" label="Amazon Peason">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>

               <el-table-column prop="order_date"  width="200" label="Description">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>

              <el-table-column prop="order_date"  width="200" label="Source">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>

             <el-table-column prop="order_date" fixed="right" width="200" label="Operator">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.remark}}</div>
               </template>
             </el-table-column>
                        </el-table>
                    </el-tab-pane>

           
                </el-tabs>
            </el-dialog>
         </template>
            </kec-scroll>

                  <kec-scroll class='clientfoot'>
         <div class="w-100 d-flex justify-content-end pt-1">
                        <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-sizes="[5, 10, 20, 40]" 
                            :page-size="pagesize"        
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="tableData.length"> 
                    </el-pagination>
                    </div>
         </kec-scroll>
    </div>
</template>

<script>
import {KecForm, KecButton, KecScroll, KecDialog}  from '@/common/components'
import { get,post} from "../../untils/user.js"
export default {
     data(){
        return {
            form:{
                name:'',
                customer:'',
                date_range:'',
            },
              currentPage:1, //初始页
                pagesize:10,    //    每页的数据
            activeName:"ShipmentStatusLog",
            dialogTableVisible:false,
            labelPosition:"left",
            offsetWidth:'',
              tableData:[
                  {'reference_number':121,'remark':1}
              ]
           
        }
    },
     components:{
          KecScroll,
          KecButton
    },
    methods:{
          handleSizeChange: function (size) {
                this.pagesize = size;
                console.log(this.pagesize)  //每页下拉显示数据
        },
        handleCurrentChange: function(currentPage){
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
        },
        handletableData() {
            // get('/api/admin/clients').then(res => {  //这是从本地请求的数据接口，
            //     if(res.code==200){
            //     this.tableData =  [{'id':0}].concat(res.data.clients)
               
            //     }
              
            // })
        },
          pickerOptions() {
        return {
          disabledDate(time) {
            return time.getTime() > Date.now();
          },
          shortcuts: [{
            text: "Last Week",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: "Last Month",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
      },
      PackageDetails(rows){
          this.dialogTableVisible=true;
          console.log(rows)
      },
       handleClick(tab, event) {
        console.log(tab, event);
      }
    }
   }
</script>
<style scoped>
.tops{
     width:99%;
     margin: auto;
}

.top-packpage-input-left{
 width:80%;
 float: left;
  height: 260px;
 padding-top: 20px;

}
.top-packpage-input-right{
 width: 10%;
 padding-top: 20px;
 height: 260px;
 float: right;
}

.el-row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap
  }
 
  .el-card {
    min-width: 100%;
    height: 100%;
    margin-right: 20px;
    transition: all .5s;
  }
  
  .clientfoot{
    position:fixed;
    right:0;
    bottom:0;
    }
</style>