<template>
    <div>
    <kec-scroll>
    <el-form :model="form">
    <!--
        tag:manifestlist
        name:bert
        class:top
        times:12:10
        -->
        
        <div class="tops">
            <div class="top-manifest-input">
              <div class="top-manifest-input-left">
                    <div class="top-manifest-input-manifest">
                        <el-form-item label="Manifest No">
                            <el-input v-model="form.name" style="width:70%"></el-input>
                        </el-form-item>
                    </div>

                    <div class="top-manifest-input-customer">
                        <el-form-item label="Customer">
                            <el-select v-model="form.customer"   style="width:60%">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                    </div>

                    <div class="top-manifest-input-time">
                    <el-form-item label="Shipment Date">
                        <el-date-picker v-model="form.date_range" type="daterange" :picker-options="pickerOptions" size="small" range-separator="-" start-placeholder="Start date" end-placeholder="End date" style="width:400px;"></el-date-picker>
                    </el-form-item>
                    </div>
               </div>

               <div class="top-manifest-input-right">
                    <el-button type="primary" style="width:100px;height:50px">Search</el-button>
               </div>
            </div>
        <!---end -->

       
        </div>


    </el-form>
      
    </kec-scroll>

    


            <kec-scroll  :numbers="260" >
         <template>
           <el-table 
           style="width:calc( 100vw - 300px)"
                    :header-cell-style="{color:'#fff', background:'rgb(237, 109, 1)', padding:'0px',
                     borderRight:'1px solid #FFF',
                     textAlign:'center', fontSize:'10pt',fontWeight:'600'}"
                    :cell-style="{fontSize:'9pt', padding:'2px 0',borderRight:'1px solid #EBEEF5'}"
                    ref="multipleTable"
                    tooltip-effect="dark"
                    :data="tableData"
                    class="w-100">
            
      
              <el-table-column prop="order_date" fixed="left" width="200" label="Shipment Date">
               <template slot-scope="scope">
                 <span>{{ scope.row.remark}}</span>
               </template>
             </el-table-column>
             
             <el-table-column prop="reference_number"  width="240" label="Manifest No">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

              <el-table-column prop="reference_number" width="240" label="Service Type">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240" label="MAWB No">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240" label="Creation Time">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240" label="Warehouse From">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240" label="Customer">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240" label="Total Quantity">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
              <el-table-column prop="reference_number" width="240" label="Actual Quantity">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

              <el-table-column prop="reference_number"  width="240" label="Total Value">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

             <el-table-column prop="reference_number"  width="240" label="Currency">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

              <el-table-column prop="reference_number"  width="240" label="Declared weight">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

             
              <el-table-column prop="reference_number"  width="240" label="Actual Weight">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

              <el-table-column prop="reference_number" width="240" label="Shipper Name">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

                   <el-table-column prop="reference_number" width="240" label="Address">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

                  <el-table-column prop="reference_number" width="240" label="City">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

                 <el-table-column prop="reference_number"  width="240" label="State">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

               <el-table-column prop="reference_number" width="240" label="Zip">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>

              <el-table-column prop="reference_number" fixed="right" width="240" label="Country">
               <template slot-scope="scope">
                 <div style="text-align:center">{{ scope.row.reference_number }}</div>
               </template>
             </el-table-column>
           
            
           </el-table>
         </template>
            </kec-scroll>

                 <kec-scroll class='clientfoot'>
         <div class="w-100 d-flex justify-content-end pt-1">
                        <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-sizes="[5, 10, 20, 40]" 
                            :page-size="pagesize"        
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="tableData.length"> 
                    </el-pagination>
                    </div>
         </kec-scroll>

    </div>
</template>


<script>
import {KecForm, KecButton, KecScroll, KecDialog}  from '@/common/components'
import { get,post} from "../../untils/user.js"
export default {
    data(){
        return {
            form:{
                name:'',
                customer:'',
                date_range:'',
            },
             currentPage:1, //初始页
                pagesize:10,    //    每页的数据
            offsetWidth:'',
              tableData:[],
           
        }
    },
     components:{
          KecScroll,
          KecButton
    },
    methods:{
         handleSizeChange: function (size) {
                this.pagesize = size;
                console.log(this.pagesize)  //每页下拉显示数据
        },
        handleCurrentChange: function(currentPage){
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
        },
        handletableData() {
            // get('/api/admin/clients').then(res => {  //这是从本地请求的数据接口，
            //     if(res.code==200){
            //     this.tableData =  [{'id':0}].concat(res.data.clients)
               
            //     }
              
            // })
        },
        pickerOptions() {
        return {
          disabledDate(time) {
            return time.getTime() > Date.now();
          },
          shortcuts: [{
            text: "Last Week",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: "Last Month",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
      },
    }
}
</script>


<style scoped>
.tops{
     width:99%;
     margin: auto;
}
.top-manifest-input-manifest,.top-manifest-input-customer{
  width:48%;
  text-align:left;
  float: left;
}

.top-manifest-input-time{
 width:90%
}
.top-manifest-input-left{
 width:90%;
 float: left;
 padding-top: 20px;
 height:150px;
}
.top-manifest-input-right{
 width: 10%;
 padding-top: 20px;
 height: 150px;
 float: right;
}
  .clientfoot{
position:fixed;
right:0;
bottom:0;
}
</style>